.content-box {
    height: 65%;
    width: 100%;
    text-align: center;
}

.content-box-a,.content-box-b {
    height: 100%;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
}

.content-box-center,.content-box-b-center {
    height: auto;
    width: 100%;
    position: relative;
    top: 15%;
}

.activity-selector-box {
    height: auto;
    width: 100%;
    text-align: center;
}

.activity-selector-box-center {
    display: inline-block;
    height: auto;
    width: 45rem;
    text-align: left;
}

.activity-name-selector-box {
    width: 100%;
    font-size: 1.25rem;
}

.activity-name-selector-input {
    height: 7rem;
    width: 100%;
    border: 5px solid black;
    background-color: white;
    color: black;
    font-family: "Product Sans Bold";
    font-size: 2rem;
}

.activity-selector-confirm {
    height: auto;
    width: 100%;
}

.confirm-button {
    height: 6rem;
    width: 15rem;
    transition: 0.4s;
    border: 5px solid black;
    background-color: white;
    color: black;
    font-family: "Product Sans Bold";
    font-size: 2rem;
    cursor: pointer;
    margin-top: 10rem;
}

.confirm-button:hover {
    transition: 0.4s;
    background-color: black;
    color: white;
}

.content-box-b-c1 img {
    height: 7rem;
}

.content-box-b-c2 {
    font-size: 2rem;
    font-family: "Product Sans Bold";
    margin-top: 2rem;
}

.content-box-b-c3 {
    padding-top: 10rem;
    font-size: 2rem;
    font-family: "Product Sans Bold";
    color: rgb(0, 81, 255);
}

.CardID {
    opacity: 0;
}

.CardID:focus {
    outline: 0;
}