.content-box {
    height: 65%;
    width: 100%;
    text-align: center;
}

.content-box-a {
    height: 65%;
    width: 100%;
    position: absolute;
}

.content-box-a-center {
    height: auto;
    width: 100%;
    position: relative;
    top: 15%;
}

.activity-selector-box {
    height: auto;
    width: 45rem;
    display: inline-block;
    text-align: left;
    font-size: 1.25rem;
    font-family: "Product Sans Bold";
}

.activity-selector-input {
    height: 7rem;
    width: 100%;
    border: 5px solid black;
    background-color: white;
    color: black;
    font-family: "Product Sans Bold";
    font-size: 2rem;
}

.activity-export-box {
    height: auto;
    width: 100%;
}

.export-button {
    height: 6rem;
    width: 15rem;
    transition: 0.4s;
    border: 5px solid black;
    background-color: white;
    color: black;
    font-family: "Product Sans Bold";
    font-size: 2rem;
    cursor: pointer;
    margin-top: 10rem;
}

.export-button:hover {
    transition: 0.4s;
    background-color: black;
    color: white;
}

.content-box-b {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
}

.content-title {
    font-family: "Product Sans Bold";
    font-size: 2.5rem;
}

.content-desc {
    font-family: "Product Sans Bold";
    font-size: 1.25rem;
    margin-top: 1rem;
}

.content-contents-box {
    height: auto;
    width: 100%;
    padding: 4rem 0;
}

.content-table-box {
    height: auto;
    width: 60%;
    display: inline-block;
    padding-top: 2rem;
}

.student_name_td {
    height: auto;
    width: 45rem;
    text-align: left;
    padding-left: 2rem;
}

.student_id_td {
    height: auto;
    width: 10rem;
}

.student_cls_td {
    height: auto;
    width: 10rem;
}

#export-table {
    text-align: center;
}

tr {
    font-size: 2rem;
    display: inline-block;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}