.content-box {
    height: 65%;
    width: 100%;
    text-align: center;
}

.content-box-center {
    height: auto;
    width: 100%;
    position: relative;
    top: 15%;
}

.select-member-box {
    display: inline-block;
    height: auto;
    width: 45rem;
    text-align: left;
    font-size: 1.25rem;
    font-family: "Product Sans Bold";
}

.member-selector-input {
    height: 7rem;
    width: 100%;
    border: 5px solid black;
    background-color: white;
    color: black;
    font-family: "Product Sans Bold";
    font-size: 2rem;
}

.query-type-selector-box {
    height: auto;
    width: 100%;
    text-align: center;
}

.query-type-selector-input {
    height: 4rem;
    width: 60%;
    border: 5px solid black;
    background-color: white;
    color: black;
    font-family: "Product Sans Regular";
    font-size: 1.25rem;
    margin: 1rem 0;
    display: inline-block;
}

.confirm-selection-box {
    height: auto;
    width: 100%;
}

.confirm-selection-input {
    height: 6rem;
    width: 15rem;
    transition: 0.4s;
    border: 5px solid black;
    background-color: white;
    color: black;
    font-family: "Product Sans Bold";
    font-size: 2rem;
    cursor: pointer;
    margin-top: 10rem;
}

.confirm-selection-input:hover {
    transition: 0.4s;
    background-color: black;
    color: white;
}

.content-box-a,.content-box-b {
    height: 100%;
    width: 100%;
    position: relative;
    background-color: white;
}

.member-table {
    display: inline-block;
    height: 80%;
}

.table-nav-box {
    height: 20%;
    width: 100%;
}

td input {
    border: none;
    background-color: transparent;
    font-family: "Product Sans Regular";
    font-size: 2rem;
}

.data-name {
    width: 40rem;
}

.data-stdid {
    text-align: center;
    width: 10rem;
}

.data-cardid {
    width: 15rem;
}

.data-class {
    text-align: center;
    width: 10rem;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}

.edit-btn {
    background-image: url("../img/icons8-edit.svg");
    background-size: 100%;
    background-color: transparent;
    border: none;
    height: 2rem;
    width: 2rem;
    cursor: pointer;
}

.delete-btn {
    background-image: url("../img/icons8-trash.svg");
    background-size: 100%;
    background-color: transparent;
    border: none;
    height: 2rem;
    width: 2rem;
    cursor: pointer;
}

.toDone {
    background-image: url("../img/icons8-checkmark.svg");
}

.prev-page-btn {
    background-image: url("../img/icons8-chevron-left-90.png");
    background-size: 100%;
    background-color: transparent;
    border: none;
    height: 3rem;
    width: 3rem;
    cursor: pointer;
    vertical-align: middle;
}

.next-page-btn {
    background-image: url("../img/icons8-chevron-right-90.png");
    background-size: 100%;
    background-color: transparent;
    border: none;
    height: 3rem;
    width: 3rem;
    cursor: pointer;
    vertical-align: middle;
}

.pg-selector-input {
    height: 5rem;
    width: 10rem;
    border: 4px solid black; 
    margin: 0 2rem;
    vertical-align: middle;
    text-align: center;
    font-family: "Product Sans Bold";
    font-size: 2rem;
}