.center0,.center1,.center2 {
    height: 65%;
    width: 100%;
}

.center1,.center2 {
    display: none;
}

.center0-box {
    height: auto;
    width: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.center2-box {
    height: auto;
    width: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-80%);
}

.center0-content-box {
    height: 100%;
    width: 45rem;
    display: inline-block;
}

.c1,.c2,.c3 {
    height: auto;
    width: 100%;
    margin: 2rem 0;
}

.c1a,.c2a,.c3a {
    text-align: left;
    font-size: 1.5rem;
    margin-bottom: 0.25rem;
}

.c1b,.c2b,.c3b {
    height: 7rem;
    width: 100%;
    border: 5px solid black;
    text-align: center;
    font-family: "Product Sans Regular";
    font-size: 2rem;
}

.c1b:focus,.c2b:focus,.c3b:focus {
    outline: none;
}

.submit-box {
    height: auto;
    width: 100%;
    margin-top: 4rem;
}

.submit,.back {
    height: 6rem;
    width: 15rem;
    transition: 0.4s;
    border: 5px solid black;
    background-color: white;
    color: black;
    font-family: "Product Sans Bold";
    font-size: 2rem;
    cursor: pointer;
}

.submit:hover,.back:hover {
    transition: 0.4s;
    background-color: black;
    color: white;
}

.c4 {
    height: 40%;
    width: 100%;
}

.c4-box {
    height: auto;
    width: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 3rem;
    font-family: "Product Sans Bold";
}

.c5 {
    height: 60%;
    width: 100%;
}

.c5a {
    height: auto;
    width: 100%;
}

.c5a img {
    height: 7rem;
}

.c5b {
    font-size: 2rem;
    font-family: "Product Sans Bold";
}

.c5c {
    padding-top: 6rem;
    font-size: 2rem;
    font-family: "Product Sans Bold";
    color: #00FF2B;
}

.c6 {
    font-size: 2.5rem;
    font-family: "Product Sans Bold";
}

.back-box {
    height: auto;
    width: 100%;
    margin-top: 8rem;
}

.CardID {
    opacity: 0;
}

.CardID:focus {
    outline: 0;
}